<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>08_条件渲染</title>
</head>
<body>
<!--
切换一个元素:
  v-if
  v-else
  v-show
切换多个元素
  <template v-if="ok">  //不能用v-show
注意:
  如果需要频繁切换 v-show 较好，如果在运行时条件不大可能改变 v-if 较好
-->

<div id="demo">
  <h1>测试: 切换一个元素</h1>

  <h2 v-if="ok">成功啦</h2>
  <h2 v-else="">失败了</h2>
  <h2 v-show="ok">成功显示</h2>

  <h1>测试: 切换多个元素</h1>

  <template v-if="ok">
    <h1>Title</h1>
    <p>Paragraph 1</p>
    <p>Paragraph 2</p>
  </template>

</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
  var vm = new Vue({
    el: '#demo',
    data: {
      ok: true
    }
  })
</script>
</body>
</html>