<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>04_综合</title>
</head>
<body>

<!--
  综合使用以下技术:
  1. 页面指令:
    v-model
    @click
    @keyup.enter
    v-for / $index
    v-text
  2. Vue对象
    初始化数据: data
    事件处理函数: methods
-->
<div id="app">
  <input type="text" v-model="inputTodo" v-on:keyup.enter="addTodo">
  <ul>
    <li v-for="todo in todos">
      {{todo.text}} <button v-on:click="deleteTodo($index)">X</button>
    </li>
  </ul>
</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
  new Vue({
    el: '#app',
    data: {
      inputTodo: '',
      todos: [
        {id:1, text: '吃饭'},
        {id:2, text: '吃饭2'},
        {id:3, text: '吃饭3'}
      ]
    },
    methods: {
      addTodo (event) {
        var todo = {
          id: Date.now(),
          text: this.inputTodo
        }
        this.todos.unshift(todo)
        this.inputTodo = ''
      },

      deleteTodo (index) {
        this.todos.splice(index, 1)
      }
    }
  })
</script>
</body>
</html>